body{
    text-align: center;
    background-color: rgb(102, 134, 161);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.file-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.file-item{
    margin: 1rem;
    padding: 1rem;
}

.file-link{
    margin: 1.5rem;
    color: black;
}

.file-link:hover{
    font-size: larger;
    color: rgb(25, 94, 178);
}

.code-container .code-Block {
    display: inline-block;
    background-color: rgb(23, 32, 42);
    color: rgb(150, 199, 157);
    padding: 1rem;
    border-radius: 10px ;
    text-align: left;
}